<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
    <script src="./js/dog.js" defer></script>
</head>

<body>
    <div class="top-banner"></div>
    <div class="header">
        <%-include('./shared/header')%>
    </div>
    <div class="cat-wrap">
        <div class="main-wrap">
            <div class="sub-catagory">
                <h2>멍멍</h2>
                <ul>
                    <li id="toy" style="cursor:pointer"> 장난감 </li>
                    <li id="life" style="cursor:pointer">라이브용품
                        <ul>
                            <li>위생/미용</li>
                            <li>건강관리</li>
                        </ul>
                    </li>
                    <li id="snack" style="cursor:pointer">간식</li>
                </ul>
            </div>
            <div class="product-wrap">
                <h2 class="product-tag">product</h2>
                <div class="grid">
                    <ul class="description">
                      
                    </ul>

                </div>


            </div>
        </div>
    </div>

    
</body>

</html>