<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="top-banner">

    </div>
    <div class="header">
        <%-include('./shared/header')%>
    </div>
    <div class="wrap">
        <div class="main-wrap">
            <div class="slider-container">
                <img src="https://npmp.co.kr/web/img/main/visual_new3_bg.jpg" alt="">
                <img src="https://npmp.co.kr/web/img/main/visual_new2_bg.jpg" alt="">
                <img src="https://npmp.co.kr/web/img/main/visual_new1_bg.jpg" alt="">
            </div>
            <div class="pagination">
                <span class="swiper-pagination-switch"></span>
                <span class="swiper-pagination-switch"></span>
                <span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span>
            </div>
            <div class="main-product">
                <div class="recomend-product">
                    <h2>추천상품</h2>
                    <div class="grid">
                        <ul class="description">
                            <li>
                                <img src="	https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1> 냥냥 펀치 토이볼</h1>
                                <ul class="price">
                                    <li class="discount"> 31,800원</li>
                                    <li> 31,800원</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                            <li>
                                <img src="	https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1> 냥냥 펀치 토이볼</h1>
                                <ul class="price">
                                    <li class="discount"> 31,800원</li>
                                    <li> 31,800원</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                            <li>
                                <img src="	https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1> 냥냥 펀치 토이볼</h1>
                                <ul class="price">
                                    <li class="discount"> 31,800원</li>
                                    <li> 31,800원</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                            <li>
                                <img src="	https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1> 냥냥 펀치 토이볼</h1>
                                <ul class="price">
                                    <li class="discount"> 31,800원</li>
                                    <li> 31,800원</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                            <li>
                                <img src="	https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1> 냥냥 펀치 토이볼</h1>
                                <ul class="price">
                                    <li class="discount"> 31,800원</li>
                                    <li> 31,800원</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                            <li>
                                <img src="	https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1> 냥냥 펀치 토이볼</h1>
                                <ul class="price">
                                    <li> 31,800원</li>
                                    <li> 31,800원</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="new-product">
                    <h2>신상품</h2>
                    <div class="grid">
                        <ul class="description">
                            <li><img src="	https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1>위풍냥냥짜요(닭고기/참치/연어)</h1>
                                <ul>
                                    <li class="pi">8,100원</li>
                                    <li>국내배송</li>
                                    <li>2,500원</li>
                                    <li>택배</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                            <li><img src="https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1>위풍냥냥짜요(닭고기/참치/연어)</h1>
                                <ul>
                                    <li class="pi">8,100원</li>
                                    <li>국내배송</li>
                                    <li>2,500원</li>
                                    <li>택배</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                            <li><img src="	https://www.npmp.co.kr/web/product/medium/202103/91702d67fc4a1e5c439ef93abcd79a9e.jpg"
                                    id="eListPrdImage51_2" alt="냥냥 펀치 토이볼">
                                <h1>위풍냥냥짜요(닭고기/참치/연어)</h1>
                                <ul>
                                    <li class="pi">8,100원</li>
                                    <li>국내배송</li>
                                    <li>2,500원</li>
                                    <li>택배</li>
                                </ul>

                                <span class="review">
                                    리뷰 121
                                </span>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <p>푸터 꾸미기</p>
    </footer>
    <script src="./js/index.js"></script>
</body>

</html>