<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>

<body>
    <div class="top-banner">

    </div>
    <div class="header">
        <%-include('./shared/header')%>
    </div>
    <div class="product-wrap">
        <div class="detailArea">
            <div class="product-img">
                <div class="main-img"><img
                        src="//npmp.co.kr/web/product/big/202104/554cb9aecffa7d4d332495c0932f5b98.jpg"
                        alt="λ©ν‹°μ μ§‘λ“¤μ΄ μ„ λ¬Όμ„ΈνΈ" class="BigImage "></div>
                <div class="sub-img">
                    <ul>
                        <li class="xans-record-"><img
                                src="//npmp.co.kr/web/product/small/202104/61257fbe305171421f600e3836547979.jpg"
                                class="ThumbImage" alt=""></li>
                        <li class="xans-record-"><img
                                src="//npmp.co.kr/web/product/extra/small/202010/e612c135168ef32dfba98f84d54ffae1.jpg"
                                class="ThumbImage" alt=""></li>
                        <li class="xans-record-"><img
                                src="//npmp.co.kr/web/product/extra/small/202104/ab0b8ae49188511d8d207355a53390bf.jpg"
                                class="ThumbImage" alt=""></li>
                        <li class="xans-record-"><img
                                src="//npmp.co.kr/web/product/extra/small/202104/b6ffecc21d4430b04e40e6f2b3a6e435.jpg"
                                class="ThumbImage" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="product-info">
                <div class="title">
                    <h2>λ©ν‹°μ μ§‘λ“¤μ΄ μ„ λ¬Όμ„ΈνΈ</h2>
                </div>
                <div class="product-detail">
                    <ul>
                        <li class=" xans-record-">
                            <div class="tr">μƒν’μ„¤λ…</div>
                            <div class="content">ν΄μ§€μ‹λ¦¬μ¦ 'λ©ν‹°μ' μ¥λ‚κ° 3μΆ…μ„ λ¨λ‘ λ°›μ•„λ³Ό μ μλ” μ„ λ¬Όμ„ΈνΈ!
                                κ°λ¦°μ΄ μ§‘λ“¤μ΄ μ„ λ¬Όλ΅λ„ μ¶”μ²ν•΄μ”π‘</div>
                        </li>
                        <li class=" xans-record-">
                            <div class="tr">μ†λΉ„μκ°€</div>
                            <div class="content"><strike>71,000μ›</strike></div>
                        </li>
                        <li class=" xans-record-">
                            <div class="tr">νλ§¤κ°€</div>
                            <div class="celling-price content">48,900μ›</div>
                        </li>
                        <li class=" xans-record-">
                            <div class="tr">λ°°μ†΅λ°©λ²•</div>
                            <div class="content">νƒλ°°</div>
                        </li>
                        <li class=" xans-record-">
                            <div class="tr">λ°°μ†΅λΉ„</div>
                            <div class="content"> <input id="delivery_cost_prepaid" name="delivery_cost_prepaid"
                                    value="P" type="hidden"><strong>2,500μ›</strong> (35,000μ› μ΄μƒ κµ¬λ§¤ μ‹ λ¬΄λ£)</div>

                        </li>
                    </ul>
                </div>
                <div class="shipping"><i class="fas fa-truck-moving"></i>
                    <p><span>μ§€κΈ</span>μ£Όλ¬Έν•μ‹λ©΄ <br><strong>8/30(μ›”)μ— λ°μ†΅</strong>λ©λ‹λ‹¤</p>
                </div>
                <div class="option">
                    <tr>
                        <th scope="row">κΈ°λ³Έ</th>
                        <td><select option_product_no="125" option_select_element="ec-option-select-finder"
                                option_sort_no="1" option_type="F" item_listing_type="" option_title="κΈ°λ³Έ"
                                product_type="product_option" product_option_area="product_option_125_0" name="option1"
                                id="product_option_id1" class="ProductOption0" option_style="select" required="true">
                                <option value="*" selected="" link_image="">- [ν•„μ] μµμ…μ„ μ„ νƒν•΄ μ£Όμ„Έμ” -</option>
                                <option value="**" disabled="" link_image="">-------------------</option>
                                <option value="P00000EV000D" link_image="">πλ©ν‹°μ μ§‘λ“¤μ΄ μ„ λ¬Όμ„ΈνΈ(λ©ν‹°μ μ¥λ‚κ° 3μΆ…&amp;ν‚ν‚ λ…Έμ¦μ›ν¬ νΈλ¦Ώ)
                                </option>
                            </select>
                            <p class="value"></p>
                        </td>
                    </tr>
                </div>
                <div class="guideArea">

                    <p class="info ">(μµμ†μ£Όλ¬Έμλ‰ 1κ° μ΄μƒ<span class=""> / μµλ€μ£Όλ¬Έμλ‰ 100κ° μ΄ν•</span>)</p>

                </div>
                <div id="totalPrice" class="totalPrice">
                    <strong>μ΄ μƒν’κΈμ•΅</strong>(μλ‰) : <span class="total"><strong><em>0</em></strong> (0κ°)</span>
                </div>
                <div class="ec-base-button gColumn">
                
                        <span class="btn-buy" id="btnBuy">λ°”λ΅ κµ¬λ§¤ν•κΈ°</span>
                        <span id="btnBuy">μ¥λ°”κµ¬λ‹ λ‹΄κΈ°</span>
                        <span id="btnBuy">κ΄€μ‹¬μƒν’λ“±λ΅</span>
                    
                </div>
            </div>
            
        </div>




    </div>

</body>

</html>