<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>


</head>

<body>
    <div class="top-banner">

    </div>
    <div class="header">
        <%-include('./shared/header')%>
    </div>
    <div class="product-wrap">
        <div class="detailArea">
            <div class="product-img">
                <div class="main-img"><img
                        src="//npmp.co.kr/web/product/big/202104/554cb9aecffa7d4d332495c0932f5b98.jpg"
                        alt="λ©ν‹°μ μ§‘λ“¤μ΄ μ„ λ¬Όμ„ΈνΈ" class="BigImage "></div>
                <div class="sub-img">
                    <ul>
                        <li class="xans-record-"><img
                                src="//npmp.co.kr/web/product/small/202104/61257fbe305171421f600e3836547979.jpg"
                                class="ThumbImage" alt=""></li>
                        <li class="xans-record-"><img
                                src="//npmp.co.kr/web/product/extra/small/202010/e612c135168ef32dfba98f84d54ffae1.jpg"
                                class="ThumbImage" alt=""></li>
                        <li class="xans-record-"><img
                                src="//npmp.co.kr/web/product/extra/small/202104/ab0b8ae49188511d8d207355a53390bf.jpg"
                                class="ThumbImage" alt=""></li>
                        <li class="xans-record-"><img
                                src="//npmp.co.kr/web/product/extra/small/202104/b6ffecc21d4430b04e40e6f2b3a6e435.jpg"
                                class="ThumbImage" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="product-info">
                <div class="title">
                    <h2>λ©ν‹°μ μ§‘λ“¤μ΄ μ„ λ¬Όμ„ΈνΈ</h2>
                </div>
                <div class="product-detail">
                    <ul>
                        <li class=" xans-record-">
                            <span class="tr">μƒν’μ„¤λ…</span>
                            <span>ν΄μ§€μ‹λ¦¬μ¦ 'λ©ν‹°μ' μ¥λ‚κ° 3μΆ…μ„ λ¨λ‘ λ°›μ•„λ³Ό μ μλ” μ„ λ¬Όμ„ΈνΈ!
                                κ°λ¦°μ΄ μ§‘λ“¤μ΄ μ„ λ¬Όλ΅λ„ μ¶”μ²ν•΄μ”π‘</span>
                        </li>
                        <li class=" xans-record-">
                            <span class="tr">μ†λΉ„μκ°€</span>
                            <span><strike>71,000μ›</strike></span>
                        </li>
                        <li class=" xans-record-">
                            <span class="tr">νλ§¤κ°€</span>
                            <span class="celling-price">48,900μ›</span>
                        </li>
                        <li class=" xans-record-">
                            <span class="tr">λ°°μ†΅λ°©λ²•</span>
                            <span>νƒλ°°</span>
                        </li>
                        <li class=" xans-record-">
                            <span class="tr">λ°°μ†΅λΉ„</span>
                            <span> <input
                                        id="delivery_cost_prepaid" name="delivery_cost_prepaid" value="P"
                                        type="hidden"><strong>2,500μ›</strong> (35,000μ› μ΄μƒ κµ¬λ§¤ μ‹ λ¬΄λ£)</span>

                        </li>
                    </ul>
                </div>
                <div class="shipping"></div>
                <div class="option">
                    <tr>
                        <th scope="row">κΈ°λ³Έ</th>
                        <td><select option_product_no="125" option_select_element="ec-option-select-finder"
                                option_sort_no="1" option_type="F" item_listing_type="" option_title="κΈ°λ³Έ"
                                product_type="product_option" product_option_area="product_option_125_0" name="option1"
                                id="product_option_id1" class="ProductOption0" option_style="select" required="true">
                                <option value="*" selected="" link_image="">- [ν•„μ] μµμ…μ„ μ„ νƒν•΄ μ£Όμ„Έμ” -</option>
                                <option value="**" disabled="" link_image="">-------------------</option>
                                <option value="P00000EV000D" link_image="">πλ©ν‹°μ μ§‘λ“¤μ΄ μ„ λ¬Όμ„ΈνΈ(λ©ν‹°μ μ¥λ‚κ° 3μΆ…&amp;ν‚ν‚ λ…Έμ¦μ›ν¬ νΈλ¦Ώ)
                                </option>
                            </select>
                            <p class="value"></p>
                        </td>
                    </tr>
                </div>
                <div class="guideArea">

                    <p class="info ">(μµμ†μ£Όλ¬Έμλ‰ 1κ° μ΄μƒ<span class=""> / μµλ€μ£Όλ¬Έμλ‰ 100κ° μ΄ν•</span>)</p>

                    <span class="sizeGuide displaynone"><a href="#none" class="size_guide_info" product_no="125">μ‚¬μ΄μ¦
                            κ°€μ΄λ“</a></span>
                </div>
            </div>


        </div>




    </div>

</body>

</html>