<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="login-header">
        <h1 class="shopName">
            <a href="/">
                <img
                    src="https://uneedcomms-keepgrow.s3.ap-northeast-2.amazonaws.com/29febddbed814ff49d36dbd216ceb274/processes/1625734179845.png"></a>
        </h1>
    </div>
    <div class="login-wrap">
        <div class="KG_section">
            <div class="kakaoLogin">
                <h2 class="title">회원가입</h2>
                <p class="text">아이디, 비밀번호, 이름, 휴대번호 입력하기 귀찮으시죠?<br>카카오로 1초 만에 회원가입 하세요.</p>
                <div class="kakao">카카오 1초 회원가입</div>
            </div>
            <div class="line">또는</div>

            <div class="memberJoin">
                <p class="btn joinBtn">일반회원가입</p>
            </div>
            <div class="ment">
                <b>카카오 1초 회원가입 이란?</b><br>
                <span>카카오 싱크를 활용한 간편 가입 기능입니다.</span>
                <p class="copyright"> npmp X 카카오싱크 부스터</p>
            </div>
        </div>
    </div>
</body>

</html>