<header>
    <div class="element">
        <ul>
            <li><a href="/login">로그인</a></li>
            <li><a href="/register">회원가입</a></li>
            <li>장바구니</li>
            <li>주문조회</li>
            <li>마이쇼핑</li>
        </ul>
        <input type="image" src="https://npmp.co.kr/web/img/btn_search.png" alt="검색">
    </div>
    <div class="br"></div>
    <div class="catagory-wrap">
        <div class="catagory">
            <ul>
                <li><a href="/dog">멍멍</a></li>
                <li><a href="/cat">냥냥</a></li>
                <li><a href="/sale">SALE</a></li>
                <li>REVIEW</li>
                <li>EVENT</li>
                <li>Q&A</li>
            </ul>
            <img src="https://npmp.co.kr/web/img/logo.png" alt="냥품멍품">
        </div>
    </div>

</header>