.order-wrap {
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
 
    .title-area {
        margin-top: 100px;
        width: 60vw;
        
        font-size: 30px;
        font-weight: 500;
    }

    .order-form {
        width: 60vw;
        margin-top: 10px;
        
        .benefit-info {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 1014px;
            height: 91px;
            border: 5px solid #e8e8e8;
            font-size: 12px;
            display: flex;
            align-items: center;

            >.title {
              
                font-weight: 600;
                width: 100px;
                height: 81px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid #e8e8e8;
            }

            .member {
              
                margin-left: 10px;
                margin-bottom: 10px;
                padding-bottom: 5px;
                width: 893px;
                border-bottom: 1px solid #e8e8e8;

                strong {
                    font-weight: 600;
                }
            }

            .mileage {
                margin-left: 10px;

                strong {
                    font-weight: 600;
                    color: #008bcc;
                }
            }

        }

        .cotrol-info {
            
            width: 1016px;
            color: #f76560;
            padding: 10px 0 8px 10px;
            border-top: 1px solid #e8e5e4;
            font-size: 11px;
            line-height: 1.5;
            background: #fff8f5;

            p {
                background: url(//img.echosting.cafe24.com/skin/base/common/ico_info.gif) no-repeat;
                margin-left: 10px;
                padding: 0 0 0 23px;
            }
        }

        .orderlist-area {
            width: 1024px;
            font-size: 12px;
            h1 {
                margin-top: 40px;
                font-weight: 600;
                padding: 10px;
            }

            

            h3 {
                height: 39px;
                font-weight: 600;
                border-bottom: 1px solid #e8e8e8;
                display: flex;
                align-items: center;
                background: #f6f6f6;
            }

            .orderlist-table-title {
                background: #f6f6f6;
                width: 1024px;
                height: 40px;
                display: flex;
                align-items: center;
                border-bottom: 1px solid #e8e8e8;

                >li {
                    height: 40px;
                    border-right: 1px solid #e8e8e8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .orderlist-table-body {
                height: 91px;
                display: flex;

                border-bottom: 1px solid #e8e8e8;

                .m-img {
                    width: 75px;
                    height: 75px;
                }

                .point {
                    width: 12px;
                    height: 12px;
                    display: flex;

                }

                >li {

                    height: 91px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-left: 1px solid #e8e8e8;

                }

                .shpping {
                    border-bottom: 1px solid white;
                    content: "무료";
                }
            }

            .orderlist-table-footer {

                height: 60px;
                display: flex;
                align-items: center;
                background: #f6f6f6;

                .gLeft {
                    margin-left: 30px;
                    margin-right: 580px;
                }

                strong {
                    font-weight: 600;
                }

                .gIndent10 {
                    color: #008bcc;

                    .txt18 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .order-area {
        li {

            display: flex;

            .order-area-title {
                background-color: #fbfafa;
                border-right: 1px solid #d5d5d5;
                border-left: 1px solid #d5d5d5;
                width: 139px;
                display: flex;
                align-items: center;
                padding: 11px 0px;
                padding-left: 10px;
                border-bottom: 1px solid #d5d5d5;

                >img {
                    margin-left: 3px;
                }

            }

            .order-area-content {
                color: #707070;
                border-bottom: 1px solid #d5d5d5;
                border-right: 1px solid #d5d5d5;

                select {
                    padding: 2px;
                    border: 1px solid #d5d5d5;
                }

                input {
                    padding: 2px;
                    border: 1px solid #d5d5d5;
                }

                textarea {
                    border: 1px solid #d5d5d5;
                }

                padding: 8px 10px;
                width: 855px;
            }

            .order-area-address {

                input {
                    margin-top: 5px;
                }
            }
        }


    }

    .total-area {
        border: 1px solid black;
        width: 1024px;

        .total-area-title {
            background: #fbfafa;
            display: flex;

            p {
                border-left: 1px solid #d5d5d5;
                border-bottom: 1px solid #d5d5d5;
                font-weight: 600;
                padding: 20px 0px;
                text-align: center;
                width: 33.5%;


            }

        }

        .total-area-content {

            display: flex;

            p {
                border-left: 1px solid #d5d5d5;
                font-weight: 600;
                padding: 20px 0px;
                text-align: center;
                width: 33.5%;
                font-size: 16px;

                span {
                    font-size: 23px;
                }

            }

            .total {
                color: #008bcc;
            }

        }
    }

    .payment-area {

        table {
            border: 1px solid #d5d5d5;
        }

        th,
        td {
            border: 1px solid #d5d5d5;

        }

        th,
        td {
            padding: 13px;
           

        }
        .sum{
            background: #fbfafa;
        }

        strong {
            font-size: 14px;
            font-weight: 600;
        }
        button{
            padding:3px;
          border:0;
            background-color: #819377;
            color: white;

        }

    }
    .payment-method-wrap{
        border:1px solid black;
        display: flex;
    }
}